services:
  base-station:
    build: .
    network_mode: host
    restart: unless-stopped

  redis:
    image: redis:8.2
    # network_mode: host
    restart: unless-stopped
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

volumes:
  redis_data: